In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_json("stage1.json")

In [3]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Type', 'Next Inspection', 'Inspection new',
       'Warranty', 'Make', 'Model', 'First Registration', 'Body Color',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Gearing Type',
       'Displacement', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version'],
      dtype='object')

In [4]:
df.head()

,make_model,body_type,price,vat,km,registration,prev_owner,hp,Type,Next Inspection,Inspection new,Warranty,Make,Model,First Registration,Body Color,Upholstery,Body,Nr. of Doors,Nr. of Seats,Gearing Type,Displacement,Weight,Drive chain,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,Emission Label,Gears,Country version
0,Audi A1,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,66 kW,"[, Used, , Diesel (Particulate Filter)]","[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]",,\nAudi\n,"[\n, A1, \n]","[\n, 2016, \n]","[\n, Black, \n]","[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],"[\n, Automatic, \n]","[\n1,422 cc\n]","[\n1,220 kg\n]",[\nfront\n],"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...",None,None,None
1,Audi A1,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,141 kW,"[, Used, , Gasoline]",None,None,None,\nAudi\n,"[\n, A1, \n]","[\n, 2017, \n]","[\n, Red, \n]","[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],"[\n, Automatic, \n]","[\n1,798 cc\n]","[\n1,255 kg\n]",[\nfront\n],"[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\n4 (Green)\n],[\n7\n],None
2,Audi A1,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,85 kW,"[, Used, , Diesel (Particulate Filter)]",None,None,,\nAudi\n,"[\n, A1, \n]","[\n, 2016, \n]","[\n, Black, \n]","[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],"[\n, Automatic, \n]","[\n1,598 cc\n]",None,[\nfront\n],"[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...",[\n4 (Green)\n],None,None
3,Audi A1,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,66 kW,"[, Used, , Diesel (Particulate Filter)]",None,None,None,\nAudi\n,"[\n, A1, \n]","[\n, 2016, \n]","[\n, Brown, \n]",None,"[\n, Sedans, \n]",[\n3\n],[\n4\n],"[\n, Automatic, \n]","[\n1,422 cc\n]","[\n1,195 kg\n]",None,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with rem...",None,[\n6\n],None
4,Audi A1,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,66 kW,"[, Used, , Diesel (Particulate Filter)]",None,"[\nYes\n, \n109 g CO2/km (comb)\n]",,\nAudi\n,"[\n, A1, \n]","[\n, 2016, \n]","[\n, Black, \n]","[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",None,[\nfront\n],"[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension...","[ABS, Central door lock, Driver-side airbag, E...",None,None,[\nGermany\n]

### Öncelikle Dublicate satırları düşüyoruz.

In [5]:
df.shape

(15919, 34)

In [6]:
df.shape

(15919, 34)

### make_model 
**Bu sütunda yer alan veriler üzerinde herhangi bir cleaning işlemi yapmaya gerek yok.**

In [7]:
df.make_model.sample(5)

12816    Opel Insignia
4229           Audi A3
7508        Opel Astra
10053       Opel Corsa
5934        Opel Astra
Name: make_model, dtype: object

In [8]:
df.make_model.isnull().sum()

0

### body_type
**bu sütun üzerinde data cleaning işlemi yapmaya gerek yok.

In [9]:
df.body_type.isnull().sum()

60

In [10]:
df.body_type.value_counts()

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [11]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Type', 'Next Inspection', 'Inspection new',
       'Warranty', 'Make', 'Model', 'First Registration', 'Body Color',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Gearing Type',
       'Displacement', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version'],
      dtype='object')

### price

**Bu sütunda integer değerler var ve veri tipi de integer. Null değerler yok fakat outlier değerler var.**

In [12]:
df.price.dtype

dtype('int64')

In [13]:
df.price.isnull().sum()

0

In [14]:
min_price,max_price = min(df.price), max(df.price)

In [15]:
[min_price,max_price]

[13, 74600]

**Outlier değerler var bunlar ile daha sonra ilgileneceğiz. Outlier değerleri tespit edip bunlar ile ilgili 
karar vereceğiz.**

### vat 
**bu sütunda yer alan değerler için web sitesini incelediğimiz zaman 2 farklı seçenek vardı.
bunlardan null olanları false diğerlerini True yaptık.**

In [16]:
df.vat.sample(5)

10064    VAT deductible
546      VAT deductible
1428               None
1655     VAT deductible
9651     VAT deductible
Name: vat, dtype: object

In [17]:
df.vat.unique()

array(['VAT deductible', 'Price negotiable', None], dtype=object)

In [18]:
df.vat.value_counts()

VAT deductible      10980
Price negotiable      426
Name: vat, dtype: int64

In [19]:
df.vat.isnull().sum()

4513

In [20]:
type(df.vat[4])

NoneType

In [21]:
df.vat = df.vat.map(lambda x: False if x == None else True)

In [22]:
df.vat.value_counts()

True     11406
False     4513
Name: vat, dtype: int64

In [23]:
np.nan == np.nan  # np.nan özel bir değer. kendisine bile eşit değil.

False

In [24]:
type(np.nan)  # değer tipi olarak float döndürür.

float

### km 
**sütunu string veri tipinde. Bu sütunu temizleyip integer veri tipine çevirmeliyiz.**

In [25]:
df.km

0        56,013 km
1        80,000 km
2        83,450 km
3        73,000 km
4        16,200 km
           ...
15914         - km
15915     9,900 km
15916        15 km
15917        10 km
15918         - km
Name: km, Length: 15919, dtype: object

In [26]:
df.km = df.km.str.replace(',','').str.strip(' km').replace('-', np.nan).astype(float)

**km sütunu içinde yer alan non-integer ifadeler temizlendi. Yerlerine nan değerler atandı. Nan değerlerin yerine**
**diğer sütunlar incelendikten sonra ortalama bir km değeri atamayı planlıyoruz. Şimdilik işlem yapılmadı.**

In [27]:
df.km.isnull().sum()

1024

In [28]:
df[df.km.isnull()]['First Registration'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, 2019, \n]    147
[\n, 2018, \n]     38
[\n, 2017, \n]      1
Name: First Registration, dtype: int64

### registration Sütunu

**Veri tipini datetime tipine çevirmeliyiz. Çünkü tarih verisi içeriyor.**

In [29]:
df.registration.head()

0    01/2016
1    03/2017
2    02/2016
3    08/2016
4    05/2016
Name: registration, dtype: object

In [30]:
df.registration.isnull().sum()

0

In [31]:
df.registration = df.registration.replace('-/-', np.nan)

In [32]:
df.registration = pd.to_datetime(df.registration)

In [33]:
df["First Registration"].isnull().sum()

1597

In [34]:
df.registration.isnull().sum()

1597

In [35]:
df[['First Registration','registration']].sample(5)
# first registration sütunun  ile registration sütunu benzer değerleri içerdiği için
# first registration sütunu drop edilebilir

      First Registration registration
11378     [\n, 2018, \n]   2018-03-01
4249      [\n, 2018, \n]   2018-07-01
1995      [\n, 2019, \n]   2019-05-01
5539                None          NaT
2328                None          NaT

In [36]:
df.drop('First Registration',axis=1,inplace=True)

###  registration sütununda yer alan nan değerler için daha sonra tekrar bakılacak.

### 'prev_owner' sütunu
**arabanın kaçıncı el olduğu bilgisi yer alıyor. Bu sütunun daha anlamlı hale gelmesi için integer'a çevirilebilir.**

In [37]:
df.prev_owner.head()

0    2 previous owners
1                 None
2     1 previous owner
3     1 previous owner
4     1 previous owner
Name: prev_owner, dtype: object

In [38]:
df.prev_owner.unique()

array(['2 previous owners', None, '1 previous owner', '3 previous owners',
       '4 previous owners'], dtype=object)

In [39]:
df.prev_owner.isnull().sum()

6828

In [40]:
df.prev_owner = df.prev_owner.str.strip('previous owners').astype(float)

In [41]:
# df.prev_owner.map(lambda x: x.split()[0],na_action='ignore').astype(float)

### hp sütunu
** bu sütunu integer ya da float a çevirebiliriz.**

In [42]:
df.hp.value_counts()

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
133 kW       1
84 kW        1
44 kW        1
4 kW         1
137 kW       1
Name: hp, Length: 81, dtype: int64

In [43]:
df.hp

0         66 kW
1        141 kW
2         85 kW
3         66 kW
4         66 kW
          ...
15914    147 kW
15915    165 kW
15916    146 kW
15917    147 kW
15918    165 kW
Name: hp, Length: 15919, dtype: object

In [44]:
df.hp = df.hp.str.strip(" kW").replace("-",np.nan).astype(float)

In [45]:
df.hp.isnull().sum()

88

### Type sütunu

In [46]:
df.Type

0                  [, Used, , Diesel (Particulate Filter)]
1                                     [, Used, , Gasoline]
2                  [, Used, , Diesel (Particulate Filter)]
3                  [, Used, , Diesel (Particulate Filter)]
4                  [, Used, , Diesel (Particulate Filter)]
                               ...
15914               [, New, , Diesel (Particulate Filter)]
15915    [, Used, , Super 95 / Super Plus 98 (Particula...
15916                         [, Pre-registered, , Diesel]
15917                         [, Pre-registered, , Diesel]
15918                        [, Demonstration, , Super 95]
Name: Type, Length: 15919, dtype: object

In [47]:
df.Type.map(lambda x: x[1],na_action='ignore').sample(5)
# siteyi incelediğimiz bu bilgilerin "Vehicle condition" olarak karşımıza çıktığını görmekteyiz. Serda
# bu nedenle Vehicle condition sütunu oluşturup type sütununu parçalıyoruz.

9341               Used
13370              Used
12169              Used
15449    Pre-registered
15529              Used
Name: Type, dtype: object

In [48]:
df["Vehicle condition"] = df.Type.map(lambda x: x[1],na_action='ignore')

In [49]:
df["Vehicle condition"].head()

0    Used
1    Used
2    Used
3    Used
4    Used
Name: Vehicle condition, dtype: object

In [50]:
df.Type.map(lambda x: x[3],na_action='ignore').str.contains("Particulate Filter").sum()
# particulate filter içeren satır sayısı

4819

In [51]:
df["particul_filter"] = df.Type.map(lambda x: x[3], na_action='ignore').str.extract("\(([^)]+)").fillna(False)
# particule filter için regex denemesi () parantez içinde yer yazan 'particulate filter' string ifadeyi almak için
# içinde particulate filter yazmayan nan değerlere False atadık

In [52]:
df.particul_filter = df.particul_filter.map(lambda x: True if x else False)
# içinde particulate filter yazanları True yazmayanlar ise zaten false

In [53]:
df.particul_filter

0         True
1        False
2         True
3         True
4         True
         ...
15914     True
15915     True
15916    False
15917    False
15918    False
Name: particul_filter, Length: 15919, dtype: bool

In [54]:
df["Fuel Type"] = df.Type.map(lambda x: x[3],na_action='ignore').str.extract("([^(]+)")
# ( karakterinden önceki her şeyi al 
# bu sayede araçların yakıt tiplerini çekmiş olacağız.

In [55]:
df["Fuel Type"]

0                          Diesel
1                         Gasoline
2                          Diesel
3                          Diesel
4                          Diesel
                   ...
15914                      Diesel
15915    Super 95 / Super Plus 98
15916                       Diesel
15917                       Diesel
15918                     Super 95
Name: Fuel Type, Length: 15919, dtype: object

In [56]:
df.Type

0                  [, Used, , Diesel (Particulate Filter)]
1                                     [, Used, , Gasoline]
2                  [, Used, , Diesel (Particulate Filter)]
3                  [, Used, , Diesel (Particulate Filter)]
4                  [, Used, , Diesel (Particulate Filter)]
                               ...
15914               [, New, , Diesel (Particulate Filter)]
15915    [, Used, , Super 95 / Super Plus 98 (Particula...
15916                         [, Pre-registered, , Diesel]
15917                         [, Pre-registered, , Diesel]
15918                        [, Demonstration, , Super 95]
Name: Type, Length: 15919, dtype: object

In [57]:
# Type sütunundan Vehicle condition,  Fuel Type ve particul_filter olmak üzere yeni kolanlar oluşturduk
# Type sütunu artık düşebiliriz
df.drop('Type',axis=1, inplace=True)

In [58]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Next Inspection', 'Inspection new', 'Warranty',
       'Make', 'Model', 'Body Color', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Gearing Type', 'Displacement', 'Weight', 'Drive chain',
       'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'Emission Label', 'Gears', 'Country version',
       'Vehicle condition', 'particul_filter', 'Fuel Type'],
      dtype='object')

### 'Next Inspection' sütunu

In [59]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Next Inspection', 'Inspection new', 'Warranty',
       'Make', 'Model', 'Body Color', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Gearing Type', 'Displacement', 'Weight', 'Drive chain',
       'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'Emission Label', 'Gears', 'Country version',
       'Vehicle condition', 'particul_filter', 'Fuel Type'],
      dtype='object')

In [60]:
df['Next Inspection'].isnull().sum()

12384

In [61]:
# null sayısına bakılırsa bu sütunu düşebiliriz.

In [62]:
df.drop('Next Inspection',axis=1, inplace=True)

### 'Inspection new' Sütunu

In [63]:
df['Inspection new'].isnull().sum()

11987

In [64]:
# null sayısına bakılırsa bu sütunu da düşebiliriz.
df.drop('Inspection new',axis=1,inplace = True)

### 'Warranty' sütunu

In [65]:
df.Warranty.isnull().sum()

5420

In [66]:
sum(df.Warranty == "")

7703

In [67]:
df[df.Warranty == ""].shape

(7703, 33)

In [68]:
# null ve "" ifadeleri 13000 den fazla. Bu sütunun neredeyse tamamı da null. Düşülebilir. 
df.drop('Warranty',axis=1,inplace=True)

In [69]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Make', 'Model', 'Body Color', 'Upholstery', 'Body',
       'Nr. of Doors', 'Nr. of Seats', 'Gearing Type', 'Displacement',
       'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version', 'Vehicle condition',
       'particul_filter', 'Fuel Type'],
      dtype='object')

### Make ve Model Sütunları

In [70]:
df.Make = df.Make.str.strip("\n")

In [71]:
df.Make

0           Audi
1           Audi
2           Audi
3           Audi
4           Audi
          ...
15914    Renault
15915    Renault
15916    Renault
15917    Renault
15918    Renault
Name: Make, Length: 15919, dtype: object

In [72]:
df.Model = df.Model.map(lambda x: x[1],na_action='ignore')

### 'Body Color' Sütunu

In [73]:
df['Body Color'] = df['Body Color'].map(lambda x: x[1],na_action='ignore')

In [74]:
df['Body Color']

0        Black
1          Red
2        Black
3        Brown
4        Black
         ...
15914     Grey
15915     Grey
15916    White
15917     Grey
15918     Grey
Name: Body Color, Length: 15919, dtype: object

In [75]:
df.Upholstery.map(lambda x: x).value_counts()
# bu sütunu incelediğimiz zaman arabaların koltuklarının deri mi kumaşmı olduğu bilgis ön plana çıkıyor. Ben fiyata etki edecek 
#olan kumaş mı deri mi kısmını alıp gerisini atacağım.

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nCloth, White\n]              8
[\nVelour, Grey\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nPart leather, Red\n]         3
[\nBeige\n]                     3
[\nBlue\n]                      2
[\nFull leather, Blue\n]        2
[\nalcantara\n]                 2
[\nalcantara, Other\n]          2
[\nPart leather, Beige\n]       2
[\nWhite\n]                     2
[\nPart leather, White\n]       2
[\nFull leather, Red\n]         1
[\nOther, Brown\n]              1
[\nCloth, Orange\n]             1
[\nFull leather, White\n]       1
Name: Upholstery, dtype: int64

In [76]:
df.Upholstery.isnull().sum()

3720

In [77]:
df.Upholstery = df.Upholstery.map(lambda x: x[0].strip("\n").split(",")[0],na_action='ignore')

In [78]:
df.Upholstery.isnull().sum()

3720

In [79]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Make', 'Model', 'Body Color', 'Upholstery', 'Body',
       'Nr. of Doors', 'Nr. of Seats', 'Gearing Type', 'Displacement',
       'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version', 'Vehicle condition',
       'particul_filter', 'Fuel Type'],
      dtype='object')

### Body Sütunu

In [80]:
df.Body = df.Body.map(lambda x: x[1],na_action='ignore')

### 'Nr. of Doors' sütunu

In [81]:
df['Nr. of Doors'] = df['Nr. of Doors'].map(lambda x: x[0].strip("\n"),na_action='ignore')

In [82]:
df['Nr. of Doors'].value_counts()

5    11575
4     3079
3      832
2      219
1        1
7        1
Name: Nr. of Doors, dtype: int64

In [83]:
df['Nr. of Doors'].isnull().sum()

212

In [84]:
df['Nr. of Doors'] = df['Nr. of Doors'].astype(float)

In [85]:
df['Nr. of Doors'].dtype

dtype('float64')

### 'Gearing Type'

In [86]:
df['Gearing Type'].map(lambda x: x[1],na_action='ignore').unique()

array(['Automatic', 'Manual', 'Semi-automatic'], dtype=object)

In [87]:
df['Gearing Type'] = df['Gearing Type'].map(lambda x: x[1],na_action='ignore')

In [88]:
df['Gearing Type'].isnull().sum()

0

In [89]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Make', 'Model', 'Body Color', 'Upholstery', 'Body',
       'Nr. of Doors', 'Nr. of Seats', 'Gearing Type', 'Displacement',
       'Weight', 'Drive chain', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'Emission Label', 'Gears', 'Country version', 'Vehicle condition',
       'particul_filter', 'Fuel Type'],
      dtype='object')

### 'Displacement' Sütunu

In [90]:
df['Displacement']

0        [\n1,422 cc\n]
1        [\n1,798 cc\n]
2        [\n1,598 cc\n]
3        [\n1,422 cc\n]
4        [\n1,422 cc\n]
              ...
15914    [\n1,997 cc\n]
15915    [\n1,798 cc\n]
15916    [\n1,997 cc\n]
15917    [\n1,997 cc\n]
15918    [\n1,798 cc\n]
Name: Displacement, Length: 15919, dtype: object

In [91]:
df['Displacement'] = df['Displacement'].map(lambda x: x[0].strip(",\n1").strip(" cc"),na_action='ignore')

In [92]:
sum(df['Displacement'] == '')
# 36 tane '' değeri var.

36

In [93]:
df['Displacement'] = df['Displacement'].map(lambda x: x if x.isnumeric() else np.nan,na_action='ignore')

In [94]:
sum(df['Displacement'] == '')
# kodumu çalışmış

0

In [95]:
df['Displacement'] = df['Displacement'].astype(float)

In [96]:
df['Displacement'].isnull().sum()

601

In [97]:
sum(df.Displacement== 0.)

41

In [98]:
df.Displacement = df.Displacement.map(lambda x: np.nan if x == 0. else x)

In [99]:
sum(df.Displacement== 0.)

0

In [100]:
df['Displacement'].isnull().sum()

642

### Weight Sütunu

In [101]:
df.Weight[0]
# tek bir satır ile veri tipimizi tanımış olduk.
# weight sütununda birim yazmasına gerek yok. Bu sütunu da float yapabiliriz

['\n1,220 kg\n']

In [102]:
df.Weight = df.Weight.map(lambda x: x[0].strip('\n1,').strip(" kg"),na_action='ignore')

In [103]:
df.Weight.isnull().sum()

6974

### 'Drive chain' Sütunu

In [104]:
df['Drive chain']

0        [\nfront\n]
1        [\nfront\n]
2        [\nfront\n]
3               None
4        [\nfront\n]
            ...
15914    [\nfront\n]
15915    [\nfront\n]
15916    [\nfront\n]
15917    [\nfront\n]
15918      [\n4WD\n]
Name: Drive chain, Length: 15919, dtype: object

In [105]:
df['Drive chain'] = df['Drive chain'].map(lambda x: x[0].strip('\n'),na_action='ignore')

In [106]:
df['Drive chain'].unique()

array(['front', None, '4WD', 'rear'], dtype=object)

In [107]:
df['Drive chain'].isnull().sum()

6858

### Consumption

* bu sütunda 3 farklı veri bulunmakta fakat bazı sütunlarda 3 ten daha az veya 
* daha fazla verilerde bulunmakta. Bu nedenle sütunda gerekli temizlikleri yaptıktan sonra ortalama alacağız.

In [108]:
df.Consumption.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]              304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]              257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]              253
[[4.7 l/100 km (comb)], [5.1 l/100 km (city)], [4.4 l/100 km (country)]]              244
                                                                                     ...
[[5.2 l/100 km (comb)], [6 l/100 km (city)], [4.8 l/100 km (country)]]                  1
[[5.3 l/100 km (comb)], [6 l/100 km (city)], [5 l/100 km (country)]]                    1
[\n, 6.5 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.5 l/100 km (country), \n]      1
[[4.3 l/100 km (comb)], [5.6 l/100 km (city)], [3.5 l/100 km (country)]]                1
[[50 l/100 km (comb)], [64 l/100 km (city)], [42 l/100 km (country)]]                   1
Name: Consumption, Length: 881, dtype: int64

In [109]:
# önce parçlara ayıralım.
data = []
df.Consumption.map(lambda x: data.append(" ".join(lambda x: x,na_action= 'ignore')),na_action='ignore')

TypeError: join() takes no keyword arguments

In [110]:
df.Consumption[0]

[['3.8 l/100 km (comb)'], ['4.3 l/100 km (city)'], ['3.5 l/100 km (country)']]

In [111]:
df.Consumption[0][0]

['3.8 l/100 km (comb)']

In [112]:
df.Consumption.map(lambda x: None if len(x[0]) < 1 or x[0]  == '\n' else x[0] ,na_action='ignore').value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[3.9 l/100 km (comb)]     732
[4 l/100 km (comb)]       712
[5.4 l/100 km (comb)]     662
[5.1 l/100 km (comb)]     627
[4.4 l/100 km (comb)]     595
                         ...
[1 l/100 km (comb)]         1
[9.1 l/100 km (comb)]       1
[7.5 l/100 km (comb)]       1
[32 l/100 km (comb)]        1
[13.8 l/100 km (comb)]      1
Name: Consumption, Length: 79, dtype: int64

In [113]:
import re

In [114]:
re.findall("\d+\.\d+", df.Consumption.map(lambda x: x[0],na_action='ignore'))

TypeError: expected string or bytes-like object

In [115]:
import re
re.findall("\d+\.\d+", "Current Level: 13.4 db.")
['13.4']

['13.4']

In [116]:
a = []
b = "hello world"

In [ ]:
if a:
    print("çalıştı")